<div class="container">
  <h1>Lector de Códigos de barras.</h1>
  <h4>Media devices: {{ mediaDevices }}</h4>
  <h4>Can vibrate: {{ canVibrate }}</h4>
  <div>
    <app-quagga-cam-component [styles]="styles" [drawLines]="drawLines"></app-quagga-cam-component>
  </div>
  <div>
    <span>BarcodeCount: {{ listOfBarcodes.length }}</span>
    <ul>
      <li *ngFor="let item of listOfBarcodes; let i = index">
        <span>   Format: {{item.format}}</span> <br/>
        <span>   Data: {{ item.code }}</span><br/>
        <span>   Cant: {{ item.count }}</span>
        <button (click)="onRemoveItemClick(i)">Eliminar</button>
      </li>
    </ul>
  </div>
</div>
